@charset "UTF-8";

html, input, button, select, body, h1, h2, h3, h4, h5 {
    font-family: "微软雅黑", "华文细黑", "黑体简", sans-serif;
}

html {
    font-size: 16px;
    line-height: 1.2;
    color: #212121;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
}

ul, ol {
    list-style: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block;
}


/*page*/
body{
    background-color: #f5e8ba;
}
.page{
    background-color: #f5e8ba;
}
#page{
    width: 1166px;
    margin: auto;
    padding-bottom: 20px;
}
#page:after{
    content: "";
    display: table;
    clear: both;
}
/*game*/
.game{
    float: left;
    width: 780px;
}
.game .title{
    width: 656px;
    height: 152px;
    overflow: hidden;
    margin-left: 80px;
}
.game .title img{
    width: 100%;
    displaly: block;
}
.game-play{
    width: 100%;
    border-radius: 12px;
    border: 28px solid transparent;
    background-color: #f33c59;
    -webkit-box-shadow: 0 6px 15px rgba(205, 116, 0, .24);
    -moz-box-shadow: 0 6px 15px rgba(205, 116, 0, .24);
    box-shadow: 0 6px 15px rgba(205, 116, 0, .24);
    overflow: hidden;
    position: relative;
}
.game-gift:after{
    content: "";
    display: table;
    clear: both;
}
.game-gift li{
    width: 120px;
    height: 120px;
    float: left;
    background-color: #fff;
    text-align: center;
    line-height: 120px;
    position: relative;
}
.game-gift li:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, .45);
}
.game-gift li.ac:after{
    display: none;
}
.game-gift li .img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #f33c59;
    border-right: 1px solid #f33c59;
}
.game-gift li:nth-child(6n) .img{
    border-right: none;
}
.game-gift li .img img{
    vertical-align: middle;
}

.btn-group{
    position: absolute;
    top: 120px;
    left: 120px;
    width: 480px;
    height: 240px;
    background-color: #fff;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    background-clip: padding-box;
}
.btn-group .btn{
    display: block;
    font-size: 30px;
    color: #fff685;
    background-color: #f33c59;
    border-radius: 60px;
    padding: 11px 60px 13px;
    width: 240px;
    margin: auto;
    margin-top: 90px;
}

/*公共*/
.btn{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn:hover{
    opacity: .9;
}

/*prize*/
.prize{
    float: right;
    width: 300px;
    height: 651px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 15px rgba(205, 116, 0, .24);
    -moz-box-shadow: 0 6px 15px rgba(205, 116, 0, .24);
    box-shadow: 0 6px 15px rgba(205, 116, 0, .24);
    overflow: hidden;
    margin-top: 90px;
}
.prize-title{
    background-color: #f33c59;
    overflow: hidden;
}
.prize-title h1{
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 8px 22px;
}
.prize-title h1:nth-child(1){
    float: left;
}
.prize-title h1:nth-child(2){
    float: right;
}
.prize-list{
    padding: 6px 24px 30px;
}
.prize-list li{
    padding: 8px 10px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    -moz-animation: fadeIn .35s ease-in-out .3s both;
    -webkit-animation: fadeIn .35s ease-in-out .3s both;
    animation: fadeIn .35s ease-in-out .3s both;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    color: #000;
}
.prize-list li.ac{
    background-color: rgba(243,60,89,.7);
    color: #fff;
}
.prize-list li:last-child{
    border: none;
}
.prize-list li p{
    font-size: 16px;
}
.prize-list li p:nth-child(1){ float: left; }
.prize-list li p:nth-child(2){ float: right; }


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



button{
    cursor: pointer;
}










